################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TransferVendorData.Web/bin/Debug/netcoreapp3.1/appsettings.json
**/Dockerfile*
**/.vs
**/obj
**/bin